{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends":[
        "eslint:recommended",
        "plugins:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules":{
        "quotes": ["error", "double"],
        "semi": ["error","alway"]

    }
}